all:
  vars:
    ansible_user: "{{ auser | default('nuvhandra') }}"
    ansible_become: true
    ansible_become_pass: ""
    ansible_python_interpreter: /usr/bin/python3

  children:
    k3s_cluster:
      children:
        k3s_server:
          hosts:
            master1:
              ansible_host: "{{ master1_ip | default('192.168.1.10') }}"
              node_ip: "{{ master1_ip | default('192.168.1.10') }}"
              ansible_become_method: sudo
              ansible_ssh_private_key_file: "{{ ssh_private_key_file | default('.ssh/id_ed25519') }}"
        k3s_agent:
          hosts:
            worker1:
              ansible_host: "{{ worker1_ip | default('192.168.1.11') }}"
              node_ip: "{{ worker1_ip | default('192.168.1.11') }}"
              ansible_become_method: doas
              ansible_ssh_private_key_file: "{{ ssh_private_key_file | default('.ssh/id_ed25519') }}"
