server:
  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts: [{ host: argocd.local }]
configs:
  params:
    server.insecure: "true"
