- name: Deploy Prometheus + Grafana
  hosts: k3s_server
  tasks:
    - name: Add Prometheus Helm repo
      kubernetes.core.helm_repository:
        name: prometheus-community
        repo_url: https://prometheus-community.github.io/helm-charts
      kubeconfig: "{{ playbook_dir }}/kubeconfig/admin.conf"

    - name: Create monitoring namespace
      kubernetes.core.k8s:
        name: monitoring
        api_version: v1
        kind: Namespace
        state: present
        kubeconfig: "{{ playbook_dir }}/kubeconfig/admin.conf"

    - name: Deploy monitoring stack
      kubernetes.core.helm:
        name: monitoring
        chart_ref: kube-prometheus-stack/kube-prometheus-stack
        namespace: monitoring
        values: "{{ lookup('file', '../helm/prometheus-grafana/values.yaml') | from_yaml }}"
        kubeconfig: "{{ playbook_dir }}/kubeconfig/admin.conf"
